header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 1rem 2rem 2rem 2rem;
}

#home {
    background: lightgray;
    text-align: left;
    padding: 2rem 1rem 0rem 2rem;
}

.about-content {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.about-text {
    flex: 1;
}

.about-image img {
    max-width: 340px;
    height: auto;
    border-radius: 70px;
    margin-top: 3rem ;
}