header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 1rem 2rem 2rem 2rem;
}

#home {
    background: lightgray;
    text-align: left;
    padding: 2rem 1rem 0rem 2rem;
}

.about-content {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.about-text {
    flex: 1;
}

.about-image img {
    max-width: 340px;
    height: auto;
    border-radius: 70px;
    margin-top: 3rem ;
}

#skills {
    padding: 2rem;
    background: lightgray;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.skill {
    background: darkgray;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.skill h3 {
    margin-top: 0;
}