header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 1rem 2rem 2rem 2rem;
}

#home {
    background: lightgray;
    text-align: left;
    padding: 2rem 1rem 0rem 2rem;
}

.about-content {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.about-text {
    flex: 1;
}

.about-image img {
    max-width: 340px;
    height: auto;
    border-radius: 70px;
    margin-top: 3rem ;
}

#skills {
    padding: 2rem;
    background: lightgray;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.skill {
    background: darkgray;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.skill h3 {
    margin-top: 0;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project {
    background: darkgray;
    padding: 1rem;
    border-radius: 9px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project img {
    max-width: 100%;
    border-radius: 8px;
}

.project h3 {
    margin-top: 0.5rem;
}

.project p {
    margin: 0.5rem 0;
}

.project a {
    display: inline-block;
    margin-top: 0.5rem;
    color: #0288d1;
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}

